


#LinkTickets
{
    color:lightgreen;
}

#carrouselBsAs
{
    position: absolute;
    filter: brightness(60%);
    
}

#contenidoBsAs
{
    position: relative;
    color: white;
}

h3{
    text-align: end;
}

h5{
    text-align: end;
}

#tituloOradores 
{
text-align: center;

}

#tituloRegistroOrador
{
    text-align: center;

}
#contenidoBuenosAires
{
    background-color:dimgrey;
    color: white;

}


/* 
h6
{
    font-size: small !important;
}
 */

#menuInferior
{
    background-color:#154360 !important;
}


.custom-border {
    padding: 10px;
    margin: 10px;
}

.custom-border.Estudiante
{
    border: 1px solid #3210f09d;
   
}

.custom-border.Trainee
{
    border: 1px solid #061172;
   
}

.custom-border.Junior
{
    border: 1px solid #f0e110;
   
}

.tituloDescuento
{
    font-weight: bold ;
    font-size: large;
    text-align: center;
}

.textoDescuento
{
    text-align: center;
    color: #566573;
}

.porcDescuento
{
    text-align: center;
    font-weight: bold;
}
.notaDescuento
{
    text-align: center;
    color:#566573;
}

#tituloTickets
{
    text-align: center;
}


#cuadroTotalAPagar
{
    background-color: rgb(154, 224, 245);
    max-height: 4rem;
    
}

#textoTotalAPagar
{
    color: darkslateblue;
    font-size: large;
}

